<div class="row welcome-header-row d-none d-lg-block">
    <div class="container px-5">
        <div class="col welcome-header  py-3 d-flex justify-content-between align-items-center">
            <p class="m-0">Welcome to Worldwide Electronics Store</p>
            <div class="d-flex gap-3">
                <div class="dropdown">
                    <button class="btn custom-dropdown dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="fi fi-us"></span> English
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"><span class="fi fi-us"></span> English</a></li>
                        <li><a class="dropdown-item" href="#"><span class="fi fi-es"></span> Español</a></li>
                        <li><a class="dropdown-item" href="#"><span class="fi fi-cn"></span> 简体中文</a></li>
                        <li><a class="dropdown-item" href="#"><span class="fi fi-it"></span> Italiano</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn custom-dropdown dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Pakistan (PKR Rs)
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Australia (PKR Rs)</a></li>
                      <li><a class="dropdown-item" href="#">Austria (PKR Rs)</a></li>
                      <li><a class="dropdown-item" href="#">Belgio (PKR Rs)</a></li>
                      <li><a class="dropdown-item" href="#">Germania (PKR Rs)</a></li>
                      <li><a class="dropdown-item" href="#">Italia (PKR Rs)</a></li>
                      <li><a class="dropdown-item" href="#">Norvegia (PKR Rs)</a></li>
                      <li><a class="dropdown-item" href="#">Paesi Bassi (PKR Rs)</a></li>
                      <li><a class="dropdown-item" href="#">Pakistan (PKR Rs)</a></li>
                      <li><a class="dropdown-item" href="#">Polonia (PKR Rs)</a></li>
                      <li><a class="dropdown-item" href="#">Portogallo (PKR Rs)</a></li>
                      <li><a class="dropdown-item" href="#">Regno Unito (PKR Rs)</a></li>
                      <li><a class="dropdown-item" href="#">Spagna (PKR Rs)</a></li>
                      <li><a class="dropdown-item" href="#">Stati Uniti (PKR Rs)</a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div> 
</div>
<!-- search bar -->
<div class="row search-bar-row">
    <div class="container py-3">
        <div class="row align-items-center mx-5">
      
          <div class="col-lg-3">
            <h2 class="logo m-0">GADGETIZE</h2>
          </div>
      
          <div class="col-lg-6">
            <div class="search-box d-flex">        
              <select class="form-select w-auto">
                <option>All Categories</option>
                <option>accesories</option>
              </select>
              <input type="text" class="form-control" placeholder="Search for products...">
              <button class="btn">Search</button>
            </div>
          </div>
      
          <div class="col-lg-3 d-flex justify-content-end gap-4">
      
            <div class="d-flex align-items-center gap-2 icon-wrapper account-icon data-bs-toggle="modal" data-bs-target="#staticBackdrop"">
                <i class="bi bi-person icon"></i>
                <div class="text-holder">
                    <p class="mini-text">Log In</p>
                    <p>Account</p>
                </div>
            </div>
            <div class="icon-wrapper">
                <i class="bi bi-heart icon" data-bs-toggle="offcanvas" data-bs-target="#wishlistPanel"></i>
                <span class="badge">0</span>
            </div>
            <div class="d-flex align-items-center gap-2 icon-wrapper">
                <i class="bi bi-cart icon" data-bs-toggle="offcanvas" data-bs-target="#cartPanel"></i>
                <span class="badge">0</span>
                <div class="text-holder">
                    <p class="mini-text"> Your Cart</p>
                    <p> Rs.0.00</p>
                </div>
            </div>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="wishlistPanel">

                <div class="offcanvas-header">
                  <h5 style="font-weight: 700;">My Wishlist</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                </div>
              
                <div class="offcanvas-body text-center">
                  <i class="bi bi-heart" style="font-size: 60px; color: #ccc;"></i>
                  <p class="mt-3">Wishlist is empty.</p>
                </div>
            </div>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="cartPanel">

                <div class="offcanvas-header">
                  <h5 style="font-weight: 700;">Shopping Cart</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                </div>
              
                <div class="offcanvas-body text-center">
                  <i class="bi bi-cart" style="font-size: 60px; color: #ccc;"></i>
                  <p class="mt-3">Your cart is empty.</p>
                </div>
            </div>

            <!-- TODO modal window on account -->
            
      
          </div>
        </div>
      </div>
</div>
<!-- navbar -->
<div class="row custom-navbar px-5">
  <nav class="navbar sticky-top">
    <div class="container-fluid">
      <div class="dropdown">
        <a class="btn dropdown-title" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-list hamburger-icon"></i> Browse All Categories
        </a>
      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Computer & Desktop</a></li>
          <li><a class="dropdown-item" href="#">Laptop & iPad</a></li>
          <li><a class="dropdown-item" href="#">Cameras & Photos</a></li>
          <li><a class="dropdown-item" href="#">Smart Phones & Tablets</a></li>
          <li><a class="dropdown-item" href="#">Home & Kitchen</a></li>
          <li><a class="dropdown-item" href="#">TV & Audios</a></li>
          <li><a class="dropdown-item" href="#">Health & Beauty</a></li>
          <li><a class="dropdown-item" href="#">Watches & Eyewear</a></li>
          <li><a class="dropdown-item" href="#">Top Deals</a></li>
          <li><a class="dropdown-item" href="#">Top Selling Products</a></li>
          <li><a class="dropdown-item" href="#">Top Featured Products</a></li>
        </ul>
      </div>

      <ul class="nav">
        <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Product</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Product 1</a></li>
            <li><a class="dropdown-item" href="#">Product 2</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Blog</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Blog 1</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Pages</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">About</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Shop</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Shop Grid</a></li>
          </ul>
        </li>
      </ul>

      <div class="sale-text">
        <i class="bi bi-exclamation-circle"></i>
        <span>Sale $20 Off Your First Order.</span>
      </div>

    </div>
  </nav>
</div>